#a1{
	background-color: #000;
}

#a2{
	background-color: #000;
}

#a3{
	background-color: #000;
}

#lol{
	padding-top: 20px;
	border: 1px solid gray;
}

#ocultar1{
	color: #fff;
}

#ocultar2{
	color: #fff;
}
#ocultar3{
	color: #fff;
}

.sinmostrar{
	color: transparent;
}